#logo {
    height: 50px;
    width: 50px;
    padding: 0 0;
    margin-right: 10px;
}

.flex-container {
    display: flex;
}

#filters {
    flex-basis: 20%;
    padding-right: 2.5%;
}

#tableInfo {
    flex-basis: auto;
    padding-left: 2.5%;
}

.panelBtn {
    width: 100%;
    padding-bottom: 10px;
}
#optionsLabel {
    font-weight: bolder;
}

.numberCol {
    width: 10%;
}

.itemIdCol {
    width: 8%;
}

#seenCol {
    width: 8%;
}

.rowElement {
    border-right:thick;
    border-right-color: gray;
}

.rowElementBtn {
    width: 100%;
}

#topTableD {

    border-left:none;
}