<!DOCTYPE html>
<html ng-app="Inventory">
<head>
    <meta charset="UTF-8">
    <title>Kenn-U-Ware Inventory Management</title>
    <!-- JS (Vendor) - jQuery --><script src="../vendor/jquery-2.2.4.min.js"></script>
    <!-- JS (Vendor) - AngularJS--><script src="../vendor/angular.min.js"></script>
    <!-- JS (Vendor) - AngularJS, ngRoute --><script src="../vendor/angular-route.min.js"></script>
    <!-- JS (Vendor) - Bootstrap --><script src="../vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <!-- Custom AngularJS App --><script src="../scripts/app.js"></script>
    <!-- CSS (Custom) - Custom Stylesheet--><link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <!-- CSS (Vendor) - Bootstrap --><link rel="stylesheet" type="text/css" href="../vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css"/>
    <!-- Custom AngularJS Controller (InventoryMgmt) --><script src="../scripts/InventoryMgmtCtlr.js"></script>
    <!-- Custom AngularJS Controller (Parts) --><script src="../scripts/PartsCtlr.js"></script>
    <!-- Custom AngularJS Controller (Requests) --><script src="../scripts/RequestsCtlr.js"></script>
    <!-- Custom AngularJS Controller (Wearables) --><script src="../scripts/WearablesCtlr.js"></script>
    <!-- Custom AngularJS DataService --><script src="../scripts/DataService.js"></script>
    <!-- Custom AngularJS Directive JS--><script src="../scripts/navbar.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div ng-view></div>
    </div>
</body>
</html>