<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="logo" src="../assets/343_logo_nobackground.png">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="partsItem" class="active"><a id="partsLink" href="#">Parts<span class="sr-only">(current)</span></a></li>
                    <li id="productsItem"><a id="productsLink" href="/#/products">Products</a></li>
                    <li id="requestsItem"><a id="requestsLink" href="/#/requests">Requests</a></li>
                    <li id="ordersItem"><a id="ordersLink" href="/#/orders">Orders</a></li>
                </ul>
                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a id="addNew" href="#">Add New Part</a></li>
                        </ul>
                    </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="flex-container">
        <div id="filters">
            <div class="panel">
                <div class="panel-heading text-center">
                    <p id="optionsLabel">Options</p>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-primary panelBtn">Send To Manufacturing</button>
                    <button type="button" class="btn btn-primary panelBtn">Restock Selected</button>
                    <button type="button" class="btn btn-danger panelBtn">Delete Selected</button>
                </div>
            </div>
        </div>
        <div id="tableInfo">
            <table class="table table-condensed table-striped ">
                <tr>
                    <h4>Part Listings</h4>
                </tr>
                <!--<tr>-->
                <!--<th class="text-center">-->
                <!--Id-->
                <!--<span class="glyphicon glyphicon-arrow-up"></span>-->
                <!--</th>-->
                <!--<th class="text-center">Name</th>-->
                <!--<th class="text-center">Quantity</th>-->
                <!--<th class="text-center">Cost</th>-->
                <!--<th class="text-center">Rec. Amount</th>-->
                <!--&lt;!&ndash;<th>Options</th>&ndash;&gt;-->
                <!--</tr>-->
                <tr>
                    <td id="topTableD" class="invisible"></td>
                    <td class="itemIdCol"><input class="form-control" type="text" placeholder="Id"></td>
                    <td class="itemIdCol"><input class="form-control" type="text" placeholder="P_Id"></td>
                    <td><input class="form-control" type="text" placeholder="Type"></td>
                    <td><input class="form-control" type="text" placeholder="Attribute"></td>
                    <td><input class="form-control" type="text" placeholder="Description"></td>
                    <td class="numberCol"><input class="form-control" type="text" placeholder="Quantity"></td>
                    <td class="numberCol"><input class="form-control" type="text" placeholder="Cost"></td>
                    <td class="numberCol"><input class="form-control" type="number" placeholder="Rec. Amount"></td>
                </tr>
                <tr  ng-repeat="part in parts track by $index">
                    <td><span><input type="checkbox"></span></td>
                    <td ng-model="part.id">{{part.id}}</td>
                    <td ng-model="part.part_id">{{part.part_id}}</td>
                    <td ng-model="part.type">{{part.type}}</td>
                    <td ng-model="part.attribute">{{part.attribute}}</td>
                    <td ng-model="part.description">{{part.description}}</td>
                    <td ng-model="part.quantity">{{part.quantity}}</td>
                    <td ng-model="part.cost">{{part.cost | currency }}</td>
                    <td ng-model="part.recamt">{{part.recamt}}</td>
                    <td>
                        <button type="button" class="btn btn-primary rowElementBtn" data-toggle="modal" data-target="#editPartModal"
                                ng-click="">Edit</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="deletePartModal" tabindex="-1" role="dialog"
     aria-labelledby="deletePartModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="deletePartModalLabel">Delete Part</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editPartModal" tabindex="-1" role="dialog"
     aria-labelledby="editPartModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editPartModalLabel">Edit Part</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save Changes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>