<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <img id="logo" src="../assets/343_logo_nobackground.png">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="partsItem"><a id="partsLink" href="/#/parts">Parts</a></li>
                    <li id="productsItem"><a id="productsLink" href="/#/products">Products</a></li>
                    <li id="requestsItem"><a id="requestsLink" href="#">Requests</a></li>
                    <li><a href="#"><span></span></a></li>
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a id="addNew" href="#">Add New</a></li>
                    </ul>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="flex-container">
        <div id="filters">
            <div class="panel">
                <div class="panel-heading text-center">
                    <p id="optionsLabel">Options</p>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-primary panelBtn">Approve Request(s)</button>
                    <button type="button" class="btn btn-danger panelBtn">Deny Request(s)</button>
                </div>
            </div>
        </div>
        <div id="tableInfo">
            
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Date Sent</th>
                <th>Seen</th>
                <th>Response</th>
                <th>Options</th>
            </tr>
            <tr ng-repeat="req in requests track by $index">
                <td ng-model="req.id"></td>
                <td ng-model="req.datesent"></td>
                <td ng-model="req.seen"></td>
                <td ng-model="req.response"></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="modal fade" id="newRequestModal" tabindex="-1" role="dialog"
         aria-labelledby="newRequestModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times</button>
                <h4 class="modal-title" id="newRequestModalLabel">Request New Part</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="createNewRequest()">Send Request</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

