<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <img id="logo" src="../assets/343_logo_nobackground.png">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="partsItem"><a id="partsLink" href="/#/parts">Parts</a></li>
                    <li id="productsItem" class="active"><a id="productsLink" href="#">Products<span class="sr-only">(current)</span></a></li>
                    <li id="requestsItem"><a id="requestsLink" href="/#/requests">Requests</a></li>
                    <li id="ordersItem"><a id="ordersLink" href="/#/orders">Orders</a></li>
                </ul>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a id="addNew" href="#">Add New Product</a></li>
                    </ul>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="flex-container">
        <div id="filters">
            <div class="panel">
                <div class="panel-heading text-center">
                    <p id="optionsLabel">Options</p>
                </div>
            </div>
            <div class="panel-body">
                <button type="button" class="btn btn-primary panelBtn">Some Action Here 1</button>
                <button type="button" class="btn btn-primary panelBtn">Some Action Here 2</button>
                <button type="button" class="btn btn-danger panelBtn">Delete Selected</button>
            </div>
        </div>
        <div id="tableInfo">
            <table class="table table-condensed table-striped">
                <tr>
                    <h4>Wearable Listings</h4>
                </tr>
                <tr>
                    <td class="invisible"></td>
                    <td class="itemIdCol"><input class="form-control" type="text" placeholder="Id"></td>
                    <td><input class="form-control" type="text" placeholder="Name"></td>
                    <td><input class="form-control" type="text" placeholder="Type"></td>
                    <td class="numberCol"><input class="form-control" type="text" placeholder="Quantity"></td>
                    <td><input class="form-control" type="text" placeholder="Active?"></td>
                </tr>
                <tr ng-repeat="wear in wearables track by $index">
                    <td><span><input type="checkbox"></span></td>
                    <td ng-model="wear.id">{{wear.id}}</td>
                    <td ng-model="wear.name">{{wear.name}}</td>
                    <td ng-model="wear.type">{{wear.type}}</td>
                    <td ng-model="wear.quantity">{{wear.quantity}}</td>
                    <td ng-model="wear.active">{{wear.active}}</td>
                    <td>
                        <button type="button" class="btn btn-primary rowElementBtn" data-toggle="modal" data-target="#editProductModal"
                                ng-click="">Some Action</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog"
     aria-labelledby="newProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="deleteProductModalLabel">Delete Product</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure you wanted to delete this?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog"
     aria-labelledby="editProductModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editProductModalLabel">Edit Product</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save Changes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

