<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <img id="logo" src="../assets/343_logo_nobackground.png">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="partsItem"><a id="partsLink" href="/#/parts">Parts</a></li>
                    <li id="productsItem"><a id="productsLink" href="#">Products</a></li>
                    <li id="requestsItem"><a id="requestsLink" href="/#/requests">Requests</a></li>
                    <li><a href="#"><span></span></a></li>
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a id="addNew" href="#">Add New</a></li>
                    </ul>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Active?</th>
                <th>Status</th>
                <th>Options</th>
            </tr>
            <tr ng-repeat="wear in wearables track by $index">
                <td ng-model="wear.id">{{wear.id}}</td>
                <td ng-model="wear.name">{{wear.name}}</td>
                <td ng-model="wear.typeprod">{{wear.typeprod}}</td>
                <td ng-model="wear.quantity">{{wear.quantity}}</td>
                <td ng-model="wear.active">{{wear.active}}</td>
                <td ng-model="wear.status">{{wear.status}}</td>
                <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#editProductModal"
                            ng-click="">Edit</button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteProductModal"
                            ng-click="deleteWearable(wear.id, $index)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog"
     aria-labelledby="newProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="deleteProductModalLabel">Delete Product</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure you wanted to delete this?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog"
     aria-labelledby="editProductModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editProductModalLabel">Edit Product</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save Changes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

